# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Android related
*.apk
*.aab
*.iml
.gradle/
local.properties
.idea/
captures/
.externalNativeBuild/
.cxx/

# Go build outputs
/DontCrack
/childproc
/edgecore
/SimpleWebShell
/simple-mqtt-core